<body>
	<h2>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"><strong>Bookers</strong></span> !!</h2>
	<p>
		In <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers</span>,<br/>
		you can share and exchange your opinions , inpressions , and emotions<br/>
		about varioius books!
	</p>
	<%= link_to "Log in", new_user_session_path, :class => "btn btn-primary btn-lg btn-block col-md-10" %>
	<%= link_to "Sign in", new_user_registration_path, :class => "btn btn-primary btn-lg btn-block col-md-10" %>
</body>